/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, .favorites-page {
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #f6f6f8;
  color: #101622;
  display: flex;
  flex-direction: column;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Content */
.content {
  flex-grow: 1;
  width: 100%;
  max-width: none;
  margin: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.content h1 {
  font-size: 2rem;
  font-weight: bold;
}

.content p {
  margin: 0.5rem 0 2rem;
  color: #666;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
  background: #ddd;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card-img:hover img {
  transform: scale(1.05);
}

.card-info {
  margin-top: 0.5rem;
}

.card-info h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card-info p {
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .search {
    display: none;
  }
}
